In [1]:
from matplotlib import pyplot as plt
import pandas as pd

In [2]:
df = pd.read_csv('morioka_temperature.csv')

In [3]:
print(df)

     Year  Date  Temparature
0    2018     1         11.7
1    2018     2         16.7
2    2018     3         19.3
3    2018     4         12.3
4    2018     5          9.1
..    ...   ...          ...
115  2021    26         12.2
116  2021    27         17.6
117  2021    28         18.6
118  2021    29         15.0
119  2021    30         13.2

[120 rows x 3 columns]

In [4]:
df.columns

Index(['Year', 'Date', 'Temparature'], dtype='object')

In [5]:
df.columns[1]

'Date'

In [6]:
df_day = pd.read_csv('morioka_temperature.csv', header=0, usecols=[2])
print(df_day)

     Temparature
0           11.7
1           16.7
2           19.3
3           12.3
4            9.1
..           ...
115         12.2
116         17.6
117         18.6
118         15.0
119         13.2

[120 rows x 1 columns]

In [7]:
df_day[:1]

   Temparature
0         11.7

In [8]:
df_day[:3]

   Temparature
0         11.7
1         16.7
2         19.3

In [9]:
type(df_day)

pandas.core.frame.DataFrame

In [10]:
print(df_day[:3])

   Temparature
0         11.7
1         16.7
2         19.3

In [11]:
print(df_day[:1])

   Temparature
0         11.7

In [12]:
df_day.astype(str)

    Temparature
0          11.7
1          16.7
2          19.3
3          12.3
4           9.1
..          ...
115        12.2
116        17.6
117        18.6
118        15.0
119        13.2

[120 rows x 1 columns]

In [13]:
print(type(df_day))

<class 'pandas.core.frame.DataFrame'>

In [14]:
print(type(df_day.astype(str)))

<class 'pandas.core.frame.DataFrame'>

In [15]:
import csv
f = open('morioka_temperature.csv', 'r')

In [16]:
type(f.readline())

str

In [17]:
f.readline()

'2018,1,11.7\n'

In [18]:
f.readline()

'2018,2,16.7\n'

In [19]:
f

In [20]:
f.seek(0)

0

In [21]:
f.readline()

'Year,Date,Temparature\n'

In [22]:
f.readline()

'2018,1,11.7\n'

In [23]:
f.seek(1)

1

In [24]:
f.readline()

'ear,Date,Temparature\n'

In [25]:
f.readline()

'2018,1,11.7\n'

In [26]:
f.seek(0)

0

In [27]:
f = csv.reader(f)

In [28]:
print(f)

<_csv.reader object at 0x000002364EDA2700>

In [29]:
f = [row for row in f]

In [30]:
print(f)

[['Year', 'Date', 'Temparature'], ['2018', '1', '11.7'], ['2018', '2', '16.7'], ['2018', '3', '19.3'], ['2018', '4', '12.3'], ['2018', '5', '9.1'], ['2018', '6', '4.3'], ['2018', '7', '10.4'], ['2018', '8', '9'], ['2018', '9', '6.9'], ['2018', '10', '12.3'], ['2018', '11', '14.6'], ['2018', '12', '17.1'], ['2018', '13', '13.4'], ['2018', '14', '10.7'], ['2018', '15', '14.2'], ['2018', '16', '11.6'], ['2018', '17', '15.7'], ['2018', '18', '16.4'], ['2018', '19', '20.8'], ['2018', '20', '19.9'], ['2018', '21', '25.8'], ['2018', '22', '23.2'], ['2018', '23', '14.4'], ['2018', '24', '12.7'], ['2018', '25', '9.4'], ['2018', '26', '15.6'], ['2018', '27', '20.6'], ['2018', '28', '17.8'], ['2018', '29', '26.3'], ['2018', '30', '25.9'], ['2019', '1', '4.6'], ['2019', '2', '3.6'], ['2019', '3', '5.2'], ['2019', '4', '9.1'], ['2019', '5', '14.5'], ['2019', '6', '9.5'], ['2019', '7', '11.7'], ['2019', '8', '12'], ['2019', '9', '10.8'], ['2019', '10', '11.3'], ['2019', '11', '10.3'], ['2019', '12', '12.9'], ['2019', '13', '14.4'], ['2019', '14', '18.5'], ['2019', '15', '12.7'], ['2019', '16', '15.7'], ['2019', '17', '23.3'], ['2019', '18', '22.9'], ['2019', '19', '16.9'], ['2019', '20', '13.6'], ['2019', '21', '21'], ['2019', '22', '20.4'], ['2019', '23', '20.9'], ['2019', '24', '22.1'], ['2019', '25', '20.3'], ['2019', '26', '9.1'], ['2019', '27', '6.4'], ['2019', '28', '15.6'], ['2019', '29', '19.8'], ['2019', '30', '12.9'], ['2020', '1', '13.1'], ['2020', '2', '9.6'], ['2020', '3', '14.6'], ['2020', '4', '18'], ['2020', '5', '6.8'], ['2020', '6', '6.5'], ['2020', '7', '11.8'], ['2020', '8', '16.7'], ['2020', '9', '10.4'], ['2020', '10', '8.2'], ['2020', '11', '12'], ['2020', '12', '13.6'], ['2020', '13', '9.6'], ['2020', '14', '12.8'], ['2020', '15', '13.1'], ['2020', '16', '12.1'], ['2020', '17', '15.4'], ['2020', '18', '9.2'], ['2020', '19', '14'], ['2020', '20', '11.2'], ['2020', '21', '12.8'], ['2020', '22', '7'], ['2020', '23', '9.1'], ['2020', '24', '9.6'], ['2020', '25', '13.7'], ['2020', '26', '15.6'], ['2020', '27', '12.3'], ['2020', '28', '11.7'], ['2020', '29', '15.9'], ['2020', '30', '19.8'], ['2021', '1', '16.3'], ['2021', '2', '17.9'], ['2021', '3', '19.4'], ['2021', '4', '13.5'], ['2021', '5', '10.4'], ['2021', '6', '12.4'], ['2021', '7', '15.8'], ['2021', '8', '11.8'], ['2021', '9', '7.2'], ['2021', '10', '10.7'], ['2021', '11', '15.9'], ['2021', '12', '18.9'], ['2021', '13', '18.8'], ['2021', '14', '12.7'], ['2021', '15', '11.8'], ['2021', '16', '15.7'], ['2021', '17', '14.9'], ['2021', '18', '14.2'], ['2021', '19', '12.7'], ['2021', '20', '18.6'], ['2021', '21', '16.7'], ['2021', '22', '18.3'], ['2021', '23', '19.9'], ['2021', '24', '22.1'], ['2021', '25', '14.1'], ['2021', '26', '12.2'], ['2021', '27', '17.6'], ['2021', '28', '18.6'], ['2021', '29', '15'], ['2021', '30', '13.2']]

In [31]:
print(f[1])

['2018', '1', '11.7']

In [32]:
print(f[1][1])

1

In [33]:
print(type(f[1][1]))

<class 'str'>

In [34]:
f[1][1]

'1'

In [35]:
f[1][2]

'11.7'

range(1,122)

In [36]:
print(range(1,122))

range(1, 122)

In [37]:
range(1,4)

range(1, 4)

In [38]:
for i in range(1, 10):
    print(f[i][1])

1
2
3
4
5
6
7
8
9

In [39]:
for i in range(1, 10):
    print(f[i][1])
    print(i)

1
1
2
2
3
3
4
4
5
5
6
6
7
7
8
8
9
9

In [40]:
import re
p = re.compile(r"<[^>]*?>")
with open('morioka_temperature_.csv', 'a', newline='') as a:
    new_df = csv.writer(a)
    new_df.writerow(["Date", "Temparature"])
    for i in range(1, 121):
        new_day = f[i][1].strip()
        new_day = p.sub("", new_day)
        new_temp = f[i][2].strip()
        new_temp = p.sub("", new_temp)
        new_df.writerow([new_day, new_temp])

In [41]:
new_df = open('morioka_temperature_.csv', 'r')

In [42]:
new_df

In [43]:
csv.reader(new_df)

In [44]:
df = pd.read_csv('morioka_temperature.csv')

In [45]:
print(df)

     Year  Date  Temparature
0    2018     1         11.7
1    2018     2         16.7
2    2018     3         19.3
3    2018     4         12.3
4    2018     5          9.1
..    ...   ...          ...
115  2021    26         12.2
116  2021    27         17.6
117  2021    28         18.6
118  2021    29         15.0
119  2021    30         13.2

[120 rows x 3 columns]

In [46]:
f = open('morioka_temperature.csv', 'r')

In [47]:
f

In [48]:
f = csv.reader(f)
f = [row for row in f]

In [49]:
f[1]

['2018', '1', '11.7']

In [50]:
f

[['Year', 'Date', 'Temparature'],
 ['2018', '1', '11.7'],
 ['2018', '2', '16.7'],
 ['2018', '3', '19.3'],
 ['2018', '4', '12.3'],
 ['2018', '5', '9.1'],
 ['2018', '6', '4.3'],
 ['2018', '7', '10.4'],
 ['2018', '8', '9'],
 ['2018', '9', '6.9'],
 ['2018', '10', '12.3'],
 ['2018', '11', '14.6'],
 ['2018', '12', '17.1'],
 ['2018', '13', '13.4'],
 ['2018', '14', '10.7'],
 ['2018', '15', '14.2'],
 ['2018', '16', '11.6'],
 ['2018', '17', '15.7'],
 ['2018', '18', '16.4'],
 ['2018', '19', '20.8'],
 ['2018', '20', '19.9'],
 ['2018', '21', '25.8'],
 ['2018', '22', '23.2'],
 ['2018', '23', '14.4'],
 ['2018', '24', '12.7'],
 ['2018', '25', '9.4'],
 ['2018', '26', '15.6'],
 ['2018', '27', '20.6'],
 ['2018', '28', '17.8'],
 ['2018', '29', '26.3'],
 ['2018', '30', '25.9'],
 ['2019', '1', '4.6'],
 ['2019', '2', '3.6'],
 ['2019', '3', '5.2'],
 ['2019', '4', '9.1'],
 ['2019', '5', '14.5'],
 ['2019', '6', '9.5'],
 ['2019', '7', '11.7'],
 ['2019', '8', '12'],
 ['2019', '9', '10.8'],
 ['2019', '10', '11.3'],
 ['2019', '11', '10.3'],
 ['2019', '12', '12.9'],
 ['2019', '13', '14.4'],
 ['2019', '14', '18.5'],
 ['2019', '15', '12.7'],
 ['2019', '16', '15.7'],
 ['2019', '17', '23.3'],
 ['2019', '18', '22.9'],
 ['2019', '19', '16.9'],
 ['2019', '20', '13.6'],
 ['2019', '21', '21'],
 ['2019', '22', '20.4'],
 ['2019', '23', '20.9'],
 ['2019', '24', '22.1'],
 ['2019', '25', '20.3'],
 ['2019', '26', '9.1'],
 ['2019', '27', '6.4'],
 ['2019', '28', '15.6'],
 ['2019', '29', '19.8'],
 ['2019', '30', '12.9'],
 ['2020', '1', '13.1'],
 ['2020', '2', '9.6'],
 ['2020', '3', '14.6'],
 ['2020', '4', '18'],
 ['2020', '5', '6.8'],
 ['2020', '6', '6.5'],
 ['2020', '7', '11.8'],
 ['2020', '8', '16.7'],
 ['2020', '9', '10.4'],
 ['2020', '10', '8.2'],
 ['2020', '11', '12'],
 ['2020', '12', '13.6'],
 ['2020', '13', '9.6'],
 ['2020', '14', '12.8'],
 ['2020', '15', '13.1'],
 ['2020', '16', '12.1'],
 ['2020', '17', '15.4'],
 ['2020', '18', '9.2'],
 ['2020', '19', '14'],
 ['2020', '20', '11.2'],
 ['2020', '21', '12.8'],
 ['2020', '22', '7'],
 ['2020', '23', '9.1'],
 ['2020', '24', '9.6'],
 ['2020', '25', '13.7'],
 ['2020', '26', '15.6'],
 ['2020', '27', '12.3'],
 ['2020', '28', '11.7'],
 ['2020', '29', '15.9'],
 ['2020', '30', '19.8'],
 ['2021', '1', '16.3'],
 ['2021', '2', '17.9'],
 ['2021', '3', '19.4'],
 ['2021', '4', '13.5'],
 ['2021', '5', '10.4'],
 ['2021', '6', '12.4'],
 ['2021', '7', '15.8'],
 ['2021', '8', '11.8'],
 ['2021', '9', '7.2'],
 ['2021', '10', '10.7'],
 ['2021', '11', '15.9'],
 ['2021', '12', '18.9'],
 ['2021', '13', '18.8'],
 ['2021', '14', '12.7'],
 ['2021', '15', '11.8'],
 ['2021', '16', '15.7'],
 ['2021', '17', '14.9'],
 ['2021', '18', '14.2'],
 ['2021', '19', '12.7'],
 ['2021', '20', '18.6'],
 ['2021', '21', '16.7'],
 ['2021', '22', '18.3'],
 ['2021', '23', '19.9'],
 ['2021', '24', '22.1'],
 ['2021', '25', '14.1'],
 ['2021', '26', '12.2'],
 ['2021', '27', '17.6'],
 ['2021', '28', '18.6'],
 ['2021', '29', '15'],
 ['2021', '30', '13.2']]

In [51]:
with open('morioka_temperature_.csv', 'a') as a:
    new_df = csv.writer(a)
    new_df.writerow(["Date", "Temparature"])
    for i in range(1, 121):
        new_day = f[i][1].strip()
        new_temp = f[i][2].strip()
        new_df.writerow([int(new_day), float(new_temp)])

In [52]:
type(f[1][1])

str

In [53]:
f[1][1]

'1'

In [54]:
f[1][1].strip()

'1'

In [55]:
int(f[1][1])

1

In [56]:
f[1][1].replace("", "[")

'[1['

In [57]:
f[1][1].replace("[", "")

'1'

In [58]:
f[1][1].replace("[]", "")

'1'

In [59]:
f[1][1].replace("[", "")
f[1][1].replace("]", "")

'1'

In [60]:
test = f[1][1].replace("[", "")
test = test.replace("]", "")

In [61]:
test

'1'

In [62]:
int(test)

1

In [63]:
with open('morioka_temperature_.csv', 'a', newline='') as a:
    new_df = csv.writer(a)
    new_df.writerow(["Date", "Temparature"])
    for i in range(1, 121):
        test = f[i][1].replace("[", "")
        new_day = test.replace("]", "")
        test = f[i][2].replace("[", "")
        new_temp = test.replace("]", "")
        new_df.writerow([int(new_day), float(new_temp)])

In [64]:
f = open('morioka_temperature.csv', 'r')

In [65]:
f = csv.reader(f)
f = [row for row in f]

In [66]:
with open('morioka_temperature_.csv', 'a', newline='') as a:
    new_df = csv.writer(a)
    new_df.writerow(["Date", "Temparature"])
    for i in range(1, 121):
        test = f[i][1].replace("[", "")
        new_day = test.replace("]", "")
        test = f[i][2].replace("[", "")
        new_temp = test.replace("]", "")
        new_df.writerow([int(new_day), float(new_temp)])